# Perform descriptive statistics and text analysis on the dataset

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import yfinance as yf
import talib
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from gensim import corpora, models
from textblob import TextBlob
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USED\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USED\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
import yfinance as yf

df = yf.download('AAPL', period='6mo', interval='1d')
print(df.head())

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-12-03  242.066071  242.175806  238.325095  239.232909  38861000
2024-12-04  242.425201  243.522560  240.669442  242.285539  44383900
2024-12-05  242.455124  243.951514  241.547325  243.402850  40033900
2024-12-06  242.255600  244.041301  241.497434  242.325439  36870600
2024-12-09  246.156204  246.645031  241.168237  241.248046  44649200

In [12]:
print(df.head())

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-12-03  242.066071  242.175806  238.325095  239.232909  38861000
2024-12-04  242.425201  243.522560  240.669442  242.285539  44383900
2024-12-05  242.455124  243.951514  241.547325  243.402850  40033900
2024-12-06  242.255600  244.041301  241.497434  242.325439  36870600
2024-12-09  246.156204  246.645031  241.168237  241.248046  44649200

In [13]:
print(df.columns)

MultiIndex([( 'Close', 'AAPL'),
            (  'High', 'AAPL'),
            (   'Low', 'AAPL'),
            (  'Open', 'AAPL'),
            ('Volume', 'AAPL')],
           names=['Price', 'Ticker'])

In [18]:
for col in df.columns:
    print(f"{col} - {df[col].dtype}")

('Close', 'AAPL') - float64
('High', 'AAPL') - float64
('Low', 'AAPL') - float64
('Open', 'AAPL') - float64
('Volume', 'AAPL') - int64

In [31]:
tickers = {
    "AAPL": "Apple Inc.",
    "AMZN": "Amazon.com, Inc.",
    "GOOG": "Alphabet Inc. (Class C)",
    "FB": "Meta Platforms, Inc.",
    "MSFT": "Microsoft Corporation",  # âœ… correct ticker
    "NVDA": "NVIDIA Corporation",
    "TSLA": "Tesla, Inc."
}

tickers = {
    "AAPL": "Apple Inc.",
    "AMZN": "Amazon.com, Inc.",
    "GOOG": "Alphabet Inc. (Class C)",
    "FB": "Meta Platforms, Inc.",
    "MSFT": "Microsoft Corporation",  # âœ… correct ticker
    "NVDA": "NVIDIA Corporation",
    "TSLA": "Tesla, Inc."
}

results = {}

for symbol, name in tickers.items():
    print(f"\nðŸ“¥ Fetching data for {symbol} - {name}...")
    
    df = yf.download(symbol, period="6mo", interval="1d")
    
    if df.empty:
        print(f"âš ï¸ No data for {symbol}. Skipping.")
        continue

    print(f"âœ… Columns fetched: {df.columns.tolist()}")
    
    # Defensive check: make sure 'Close' column exists
    if 'Close' not in df.columns:
        print(f"âŒ 'Close' column not found in data for {symbol}")
        continue

    # Convert 'Close' to numeric and drop missing
    df['Close'] = pd.to_numeric(df['Close'], errors='coerce')
    df = df.dropna(subset=['Close'])

ðŸ“¥ Fetching data for AAPL - Apple Inc....

[*********************100%***********************]  1 of 1 completed

âœ… Columns fetched: [('Close', 'AAPL'), ('High', 'AAPL'), ('Low', 'AAPL'), ('Open', 'AAPL'), ('Volume', 'AAPL')]

TypeError: arg must be a list, tuple, 1-d array, or Series

In [32]:
 # Compute indicators
df['SMA_20'] = talib.SMA(df['Close'].values, timeperiod=20)
df['EMA_20'] = talib.EMA(df['Close'].values, timeperiod=20)
df['RSI'] = talib.RSI(df['Close'].values, timeperiod=14)
df['MACD'], df['MACD_signal'], df['MACD_hist'] = talib.MACD(df['Close'].values)

results[symbol] = df

Exception: input array has wrong dimensions